[client]
default-character-set=utf8
socket = /var/lib/mysql/mysql.sock

[mysqld]
character-set-server=utf8
bind-address = 0.0.0.0
socket = /var/lib/mysql/mysql.sock

user = mysql
port = 3306
datadir = /var/lib/mysql
tmpdir = /var/lib/mysql
skip-external-locking
skip-name-resolve
symbolic-links=0


back_log = 100
default-storage-engine = InnoDB

key_buffer_size = 10M
max_connections=500
max_connect_errors = 500

max_tmp_tables                          = 4096
tmp_table_size                          = 32M
max_heap_table_size                     = 32M

#table_cache = 2048
table_open_cache                        = 4096
table_definition_cache                  = 4096
thread_cache_size                       = 256
thread_stack                            = 256K

sort_buffer_size                        = 1M
join_buffer_size                        = 1M

key_cache_block_size                    = 4096
query_cache_type                        = 0
query_cache_size                        = 0
query_cache_limit                       = 2M
query_cache_min_res_unit                = 2K

wait_timeout                            = 180

explicit_defaults_for_timestamp = true

# *** Enable Log options ***
general_log                             = 0
general_log_file                        = /var/lib/mysql/mysqld.log
log-warnings                            = 2
log-error                               = /var/lib/mysql/mysqld.error
slow_query_log                          = 1
long_query_time                         = 1
slow_query_log_file                     = /var/lib/mysql/slow.log

# *** INNODB Specific options ***
transaction-isolation                   = REPEATABLE-READ
#innodb_fast_shutdown                    = 1
#innodb_file_per_table                   = 1
#innodb_open_files                       = 4096
innodb_additional_mem_pool_size         = 2M
innodb_buffer_pool_size                 = 16M
innodb_data_file_path                   = ibdata1:512M;ibdata2:512M;ibdata3:512M:autoextend:max:30G
innodb_data_home_dir                    = /var/lib/mysql
#innodb_flush_method                     = O_DIRECT
#innodb_thread_concurrency               = 96
innodb_log_buffer_size                  = 16M
innodb_log_file_size                    = 5M
innodb_log_files_in_group               = 3
innodb_log_group_home_dir               = /var/lib/mysql
innodb_flush_log_at_trx_commit          = 1
#innodb_max_dirty_pages_pct              = 75
innodb_lock_wait_timeout                = 40
#innodb_support_xa                       = 0


binlog_format                           = MIXED
expire_logs_days = 7

# *** master options ***
server-id                               = 1
log-bin                                 = /var/lib/mysql/mysql-bin
log-bin-index                           = /var/lib/mysql/mysql-bin.index
#

[mysql]
no-auto-rehash
#safe-updates

[mysqld_safe]
user                                    = mysql
open-files-limit                        = 10240

[isamchk]
key_buffer                              = 512M
sort_buffer_size                        = 512M
read_buffer                             = 8M
write_buffer                            = 8M


[myisamchk]
key_buffer                              = 512M
sort_buffer_size                        = 512M
read_buffer                             = 8M
write_buffer                            = 8M
write_buffer                            = 8M

[mysqldump]
quick
#character-set-server                    = utf8
max_allowed_packet                      = 32M
